# Dependencies
/node_modules
node_modules/
**/node_modules/

# Build output
/dist
/build

# Environment files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NetBeans specific
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml
nbactions.xml
.DS_Store
